@model IEnumerable<MiracleStone.Domain.Entity.TblImage>
@{
    int Counter = 0;
    bool HaveImage = false;
}
<div class="foot-item-content">
    @foreach (var item in Model)
    {
        if (item.Address.Substring(item.Address.Length - 4, 4) != ".pdf")
        {
            HaveImage = true;
            if (Counter == 0)
            {
                Response.Write("<div class='foot-recent-img'>");
            }
            if (Counter == 3)
            {
                Response.Write("</div><div class='foot-recent-img'>");
                Counter = 0;
            }


            string finalurl = item.Address;
            if (!item.Address.StartsWith("http://miraclestone.org"))
            {
                finalurl = "http://miraclestone.org" + item.Address;
            }

            Response.Write("<a href='" + finalurl + "' class='lightbox'><img src='" + finalurl + "'  class='img-responsive img-thumbnail'></a>");
            Counter++;
        }
    }
    @if (HaveImage) { Response.Write("</div>"); }
</div>