@model MiracleStone.Domain.Entity.TblCompanyInfo
@{
    ViewBag.Title = "Home";
}


<div class="container">
    <div id="bs-carousel-1" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" data-wrap="true">
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel-1" data-slide-to="0" class=""></li>
            <li data-target="#bs-carousel-1" data-slide-to="1" class=""></li>
            <li data-target="#bs-carousel-1" data-slide-to="2" class=""></li>
            <li data-target="#bs-carousel-1" data-slide-to="3" class=""></li>
            <li data-target="#bs-carousel-1" data-slide-to="4" class=""></li>
            <li data-target="#bs-carousel-1" data-slide-to="5" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item ">
                <img src="/FileManager/SlideShow/slab1.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/FileManager/SlideShow/slab2.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/FileManager/SlideShow/slab3.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/FileManager/SlideShow/slab4.jpg" alt="" />
            </div>
            <div class="item">
                <img src="/FileManager/SlideShow/slab5.jpg" alt="" />
            </div>
            <div class="item active">
                <img src="/FileManager/SlideShow/slab6.jpg" alt="" />
            </div>
        </div>
        <a class="left carousel-control" href="#bs-carousel-1" role="button" data-slide="prev">
            <span class="fa fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#bs-carousel-1" role="button" data-slide="next">
            <span class="fa fa-chevron-right"></span>
        </a>
    </div>
    <br>

    <div class="block-heading-two">
        <h3><span>Why Choose Us?</span></h3>

        <div class="icon-box-4">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="icon-box-4-item">
                        <a href="#" class="icon-box-4-icon bg-color"> <i class="fa fa-tags"></i> </a>
                        <h4><a href="#">Providing</a></h4>
                        <p>Providing blocks for oriental marble, namin marble and limestone</p>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <video id="example_video_1" class="video-js vjs-default-skin"
                           controls preload="auto" width="545" height="400"
                           poster="~/FileManager/Project/Project2.jpg"
                           data-setup='{"example_option":true}'>
                        <source src="~/FileManager/Miracle_High.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="icon-box-4-item">
                        <a href="#" class="icon-box-4-icon bg-brown"> <i class="fa fa-tags"></i>  </a>
                        <h4><a href="#">Persian slabs and tiles</a></h4>
                        <p>with more than eleven acres in space with eight production line for marble , travertine and limestone we can produce without delay with standard quality, providing the needs of domestic and abroad projects</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="icon-box-4-item">
                        <a href="#" class="icon-box-4-icon bg-green"> <i class="fa fa-qrcode"></i> </a>
                        <h4><a href="#">Foreign slabs and tiles</a></h4>
                        <p>our company cooperates with a Spanish company which allows us to provide European stones in slab dimension and large measurements for both domestic and abroad projects</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="icon-box-4-item">
                        <a href="#" class="icon-box-4-icon bg-red"> <i class="fa fa-random"></i> </a>
                        <h4><a href="#">Design and installation</a></h4>
                        <p> with a team of skilled architects we can design and install exterior and interior such as landscape, staircase, bathroom and parking.Our team of expertise will guide you through all stages of your project</p>
                    </div>
                </div>
            </div>

            <div class="row">


                <div class="col-md-9 col-sm-6">
                    <div class="icon-box-4-item">
                        <a href="#" class="icon-box-4-icon bg-yellow"> <i class="fa fa-tasks"></i> </a>
                        <h4><a href="#">The possibility of implementation</a></h4>
                        <p>The possibility of implementation of all high speed stone cuts and curves  without one millimeter transgression is now available with considerable reproduction facilities. The significance of this system is the method it encompasses industrial production of column capital, column base,fireplace, sphere in different sizes and stone trimmer  water jet system for curves with lowest amount of waste</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="icon-box-4-item">
                        <a href="#" class="icon-box-4-icon bg-color"> <i class="fa fa-map-marker"></i> </a>
                        <h4><a href="#">Online Support</a></h4>
                        <p>You can make appoint in 3 different. One by phone, one by email and by online form.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-heading-two">
        <h3><span>Our Company</span></h3>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-6">
            <p>
                Natural stone can lend a sense of luxury, warmth and serenity to your home.

                Here at Miracle Stone Industries we have a vast variety of natural stones, tiles, slabs and blocks. We specialize in both commercial and residential building and projects serving customers across Iran and around the world.

                We stock and quickly deliver an extensive variety of slabs, tiles and even blocks.

                Ranging from the most sought- after to truly exotic.

                Our team of experience stone and tile experts provides you with product knowledge and sourcing capabilities to meet the most exact clients and specifications.

                We are dedicated to bringing you the materials that will give you the most value for your project.
            </p>

            <br>
        </div>

        <div class="col-md-4 col-sm-6">
            <div id="bs-carousel-2" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" data-wrap="true">
                <ol class="carousel-indicators">
                    <li data-target="#bs-carousel-2" data-slide-to="0" class=""></li>
                    <li data-target="#bs-carousel-2" data-slide-to="1" class="active"></li>
                    <li data-target="#bs-carousel-2" data-slide-to="2" class=""></li>
                    <li data-target="#bs-carousel-2" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img src="/FileManager/Company/Company1.jpg" alt="" />
                    </div>
                    <div class="item active">
                        <img src="/FileManager/Company/Company2.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img src="/FileManager/Company/Company3.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img src="/FileManager/Company/Company4.jpg" alt="" />
                    </div>
                </div>
                <a class="left carousel-control" href="#bs-carousel-2" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#bs-carousel-2" role="button" data-slide="next">
                    <span class="fa fa-chevron-right"></span>
                </a>
            </div>

        </div>



    </div>

</div>

@section Scripts{
    <link href="~/Content/Css/video-js.css" rel="stylesheet" />

    <script src="~/Scripts/JQuery/Plugins/video.js"></script>
    <script>
        videojs(document.getElementById('example_video_1'), {}, function () {
            // This is functionally the same as the previous example.
        });
    </script>
}