@{
    ViewBag.Title = "Success";
}

<div class="page-heading-two">
    <div class="container">

        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="box-shadow-outer">
        <div class="box-shadow-block box-shadow-5 text-center">
            <h5>THANK YOU FOR CONTACTING US</h5>
            <p>Thank you for taking the time and effort to contact us. We always appreciate and value your feedback. A member of our team will contact you as soon as possible – usually within two business hours. In the meantime, please continue to enjoy our website</p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
