@model IEnumerable<MiracleStone.Domain.Entity.TblProduct>
@{
    ViewBag.Title = "مواد پوشش دهی سنگ";
}

<div class="page-heading-two">
    <div class="container">
        <div  >
            <h3> مواد پوشش دهی سنگ <i class="fa fa-angle-double-left color"></i></h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        var url = MVC.Material.GetDefaultImage( item.TblProductID );
        string finalurl =url.ToString();
        if (!url.ToString().StartsWith("http://miraclestone.org"))
        {
            finalurl = "http://miraclestone.org" + url.ToString();
        }
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="image-style-two">
                    <img class="img-responsive " src="@finalurl" alt="">
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="block-heading-two">
                    <h3><span>@item.NameFa</span></h3>
                </div>
                <p>@item.ProductBy<i class="fa fa-map-marker red"></i></p>
                @{Html.RenderAction(MVC.Material.ActionNames.GetAllFiles, MVC.Material.Name, new { id = item.TblProductID });}
            </div>
        </div>
        <hr />
    }
</div>
