@{
    ViewBag.Title = "ارسال پیام";
}

<div class="page-heading-two">
    <div class="container">

        <div class="clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="box-shadow-outer">
        <div class="box-shadow-block box-shadow-5 text-center">
            <h5>با تشکر از ارسال پیام</h5>
            
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
